*.lo
*.o
*~
*.swp
.deps
aclocal.m4
config.h
config.h.in
config.status
config.log
configure
libwcl.pc
Makefile.in
Makefile
stamp-h1
tags
autom4te.cache
cfg
doc
.libs
libtool
examples/artoolkitplus/artoolkitplus
examples/calibration/
examples/camera/cameratest
examples/camera/snapshot
examples/gestures/gestures
examples/gestures/moc_Canvas.cpp
examples/gestures/moc_GestureIO.cpp
examples/parallel/parallel
examples/parsers/loadobj
examples/serial/serial
examples/vicon/vicon
examples/video/video
src/wcl/ExceptionTypes.cpp
src/wcl/OBJFormatGrammar.cc
src/wcl/OBJFormatGrammar.h
src/wcl/OBJFormatScanner.cc
src/wcl/Streamable.h
src/wcl/graphics/
src/wcl/libwcl.la
